# Dependencias
node_modules/
frontend/node_modules/
backend/node_modules/

# Archivos de entorno y credenciales
.env
backend/.env
.env.local
.env.production

# Archivos de compilacion
dist/
frontend/dist/
build/
*.log

# Archivos de SO e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
